body {
    display: flex;
    align-items: center;
}

#boxForm {
    width: 300px;
    padding: 50px 50px;
    border-radius: 10px;
    margin: 0 auto;
}

#boxForm form {
    display: flex;
    flex-direction: column;
}

#boxForm form h1 {
    margin: 10px 0px;
}

form ul {
    height: 30px;
    text-align: center;
}

form li {
    padding: 2px;
    border-radius: 5px;
    margin: 5px 0px;
}

#boxForm form a {
    text-align: center;
    margin: 5px 0px;
}

#boxForm form input {
    height: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#boxForm form button {
    margin: 5px auto 20px auto;
    height: 25px;
    width: 100px;
    border-radius: 5px;
}