/*GERAL*/

@media screen and (min-width: 0px) {
    #logo {
        display: block;
        /*width: 200px;*/
    }
    #info_User p {
        display: block;
        text-align: center;
    }
    #leftBar a {
        display: block;
    }
}


/*RESPONSIVIDADE - DESKTOP*/

@media screen and (min-width: 800px) {
    #leftBar {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 300px;
        left: -250px;
        transition: all 0.5s;
    }
    #logo {
        margin: 20px auto;
        padding-top: 20px;
        width: 220px;
    }
    #info_User p {
        padding: 15px 0px;
    }
    #leftBar ul {
        width: 100%;
        padding-top: 40px;
    }
    #leftBar:hover {
        transform: translateX(250px);
    }
    #leftBar a {
        padding: 20px;
    }
}


/*RESPONSIVIDADE - MOBILE*/

@media screen and (max-width: 800px) {
    #leftBar {
        height: auto;
        width: 100%;
    }
    #logo {
        margin: 0 auto;
    }
    #info_User p {
        padding-bottom: 10px;
    }
    #leftBar ul {
        display: flex;
        flex-wrap: wrap;
    }
    #leftBar li {
        margin: 0 auto;
    }
    #leftBar a {
        padding: 10px 5px;
    }
}