.TitleBox {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}

.TextBox {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

.buttons a {
    text-decoration: none;
    font-size: 13PX;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    padding: 6px;
    float: right;
    margin: 6px 0 0 6px;
}

.buttons a:hover {
    cursor: pointer;
}

#panelCategoria {
    padding: 8px 40px 8px 8px;
    border-radius: 5px;
    margin: 5px auto 5px 20px;
}

#setVisible-insertNewNote {
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0 5px auto;
}

#panel_addNote {
    z-index: 2;
    backdrop-filter: blur(4px);
}

#panel_addNote form p {
    margin: 10px 0px 5px 0px;
}

#panel_addNote form input {
    height: 25px;
    width: 100%;
    border-radius: 5px;
}

#panel_addNote form select {
    height: 25px;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
}

#panel_addNote form textarea {
    resize: none;
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

#panel_addNote form button {
    margin: 5px 5px;
    padding: 5px;
    border-radius: 5px;
}