.TitleBox {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}

.TextBox {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

.CategoryBox {
    margin-left: 90%;
    padding: 3px;
    text-align: center;
    border-radius: .30rem;
}

.buttons {
    width: 100%;
    height: 40px;
}

.buttons a {
    text-decoration: none;
    font-size: 13PX;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    padding: 6px;
    float: right;
    margin: 6px 0 0 6px;
}

.buttons a:hover {
    cursor: pointer;
}

#panelCategoria {
    padding: 8px 40px 8px 8px;
    border-radius: 5px;
    margin: 5px 50px 5px 20px;
}

#setVisible-insertNewNote {
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0 5px auto;
}

#panel_addNote {
    z-index: 2;
    backdrop-filter: blur(4px);
}

#panel_addNote form p {
    margin: 10px 0px 5px 0px;
}

#panel_addNote form input {
    height: 25px;
    width: 100%;
    border-radius: 5px;
}

#panel_addNote form select {
    height: 25px;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
}

#panel_addNote form textarea {
    resize: none;
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

#panel_addNote form button {
    margin: 5px 5px;
    padding: 5px;
    border-radius: 5px;
}


/*sobre*/

.img_sobre {
    max-width: 200px;
    height: 200px;
    margin: 0 auto 5px auto;
    padding-bottom: 10px;
    border-bottom: solid 1px black
}

.img_sobre img {
    border-radius: 100%;
    size: 100%;
}

.box_sobre {
    max-width: 300px;
    flex: 1 1 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

#bt_sobre_box {
    text-align: center;
    width: 100%;
    padding: 0px 0px 40px 0px;
}

#bt_sobre {
    text-align: center;
    border: solid 1px black;
    background-color: white;
    color: black;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
}

#bt_sobre:hover {
    background-color: blue;
    color: white;
}