:root {
    /*Principais        */
    --fundo_01: rgb(220, 220, 220);
    --fundo_02: rgb(21, 72, 102);
    /*Formulario login/registro     */
    --formularioTitulo: rgba(0, 140, 255, .5);
    --formularioLi: rgba(0, 0, 0, .4);
    --formularioLi2: rgb(243, 56, 56);
    --formularioTexto: rgb(255, 255, 255);
    --formularioButtomHover: rgba(0, 0, 0, .8);
    --formularioShadow: inset 0 0 1em rgb(21, 72, 102), 0 0 1em black;
    /*Barra lateral      */
    --leftBarInformacoes: rgb(255, 255, 255);
    --leftBarLinks: rgb(255, 255, 255);
    --leftBarLinksHover: rgb(255, 255, 255);
    --leftBarLinksHoverBack: rgba(0, 140, 255, .5);
    --leftBarLinksActive: rgba(0, 140, 255, .5);
    --leftBar_borderMobile: solid 1px black;
    --leftBar_mobile: rgba(100, 100, 100, .6);
    /*Painel de Notas*/
    --notas_Back: rgb(255, 255, 255);
    --notas_Titulo: rgba(0, 140, 255, .5);
    --notas_Texto: rgb(0, 0, 0);
    --notas_borda: solid 1px black;
    --notas_Back_shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    --chamarAddNotas_hover: rgb(21, 72, 102);
    --chamarAddNotas_hover_back: rgb(255, 255, 255);
    /*Painel de adicionar notas*/
    --addNotas_Back: rgba(0, 0, 0, .8);
    --color_disable: rgba(100, 100, 100, .5);
}


/*geral*/

body {
    background-color: var(--fundo_01);
}


/*Formulario de Login/Registro*/

#boxForm {
    background-color: var(--fundo_02);
    box-shadow: var(--formularioShadow);
}

#boxForm form h1 {
    color: var(--formularioTitulo);
}

form li {
    background-color: var(--formularioLi);
    color: var(--formularioLi2);
}

#boxForm form p {
    color: var(--formularioTexto);
}

#boxForm form a {
    color: var(--formularioTexto);
}

#boxForm form button:hover {
    background-color: var(--formularioButtomHover);
    color: var(--formularioTexto);
}


/*Barra Lateral*/

#leftBar {
    background-color: var(--fundo_02);
}

#info_User p {
    color: var(--leftBarInformacoes);
}

#leftBar a {
    color: var(--leftBarLinks);
}

#leftBar a:hover {
    background-color: var(--leftBarLinksHoverBack);
    color: var(--leftBarLinksHover);
}

#leftBar a:active {
    background-color: var(--leftBarLinksActive);
}

@media screen and (max-width: 800px) {
    #info_User p {
        border-bottom: var(--leftBar_borderMobile);
    }
    #leftBar ul {
        background-color: var(--leftBar_mobile);
    }
}


/*Notas*/

.box {
    background-color: var(--notas_Back);
    box-shadow: var(--notas_Back_shadow);
}

.TitleBox {
    color: var(--notas_Titulo);
}

.TextBox {
    color: var(--notas_Texto);
    border: var(--notas_borda);
}

.buttons a {
    color: var(--notas_Texto);
    border-color: var(--notas_Texto);
}

.buttons a:hover {
    background-color: var(--chamarAddNotas_hover);
    color: var(--notas_Back);
}

#setVisible-insertNewNote {
    background-color: var(--chamarAddNotas_hover_back);
}

#setVisible-insertNewNote:hover {
    background-color: var(--chamarAddNotas_hover);
    color: var(--notas_Back);
}


/*Formulario de Add Nota*/

#panel_addNote form {
    background-color: var(--addNotas_Back);
}

#panel_addNote form p {
    color: white;
}

#panel_addNote form button:hover {
    background-color: rgba(0, 140, 255, .5);
    color: white;
}

#enviarNote:disabled {
    background-color: var(--color_disable);
    color: var(--color_disable);
}

#enviarNote:disabled:hover {
    background-color: var(--color_disable);
    color: var(--color_disable);
}