:root {
    /*THEMA*/
    --corBase_01: rgb(220, 220, 220);
    --corBase_02: rgb(255, 255, 255);
    --corBase_03: rgba(0, 0, 0, .8);
    --corBase_04: rgba(100, 100, 100, .6);
    --corPrincipal_01: rgb(21, 72, 102);
    --corPrincipal_02: rgba(0, 140, 255, .5);
    --formularioLi: rgba(0, 0, 0, .4);
    --formularioLi2: rgb(243, 56, 56);
    --notas_Texto: rgb(0, 0, 0);
    /*Sombras e bordas - a principio, não mecher!*/
    --formularioShadow: inset 0 0 1em var(--corPrincipal_01) 0 0 1em black;
    --notas_Back_shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    --leftBar_borderMobile: solid 1px var(--corBase_03);
    --notas_borda: solid 1px var(--corBase_03);
}


/*geral*/

body {
    background-color: var(--corBase_01);
}


/*Formulario de Login/Registro*/

#boxForm {
    background-color: var(--corPrincipal_01);
    box-shadow: var(--formularioShadow);
}

#boxForm form h1 {
    color: var(--corPrincipal_02);
    text-align: center;
}

form li {
    background-color: var(--formularioLi);
    color: var(--formularioLi2);
}

#boxForm form p {
    color: var(--corBase_02);
}

#boxForm form a {
    color: var(--corBase_02);
}

#boxForm form button:hover {
    background-color: var(--corBase_03);
    color: var(--corBase_02);
}


/*Barra Lateral*/

#leftBar {
    background-color: var(--corPrincipal_01);
}

#info_User p {
    color: var(--corBase_02);
}

#leftBar a {
    color: var(--corBase_02);
}

#leftBar a:hover {
    background-color: var(--corPrincipal_02);
    color: var(--corBase_02);
}

#leftBar a:active {
    background-color: var(--corPrincipal_02);
}


/*Notas*/

.box {
    background-color: var(--corBase_02);
    box-shadow: var(--notas_Back_shadow);
}

.TitleBox {
    color: var(--corPrincipal_02);
}

.TextBox {
    color: var(--notas_Texto);
    border: var(--notas_borda);
}

#setVisible-insertNewNote {
    background-color: var(--corBase_02);
}

#setVisible-insertNewNote:hover {
    background-color: var(--corPrincipal_01);
    color: var(--corBase_02);
}


/*Formulario de Add Nota*/

#panel_addNote form {
    background-color: var(--corBase_03);
}

#panel_addNote form p {
    color: var(--corBase_02);
}

#panel_addNote form button:hover {
    background-color: var(--corPrincipal_02);
    color: var(--corBase_02);
}

h3{
    margin: auto;
    color: var(--corPrincipal_01);
    border-bottom: 1px;
}

#enviarNote:disabled {
    background-color: var(--corBase_04);
    color: var(--corBase_04);
}

#enviarNote:disabled:hover {
    background-color: var(--corBase_04);
    color: var(--corBase_04);
}


/*CONFIG*/

.boxConfig {
    background-color: var(--corBase_04);
}

@media screen and (max-width: 800px) {
    #info_User p {
        border-bottom: var(--leftBar_borderMobile);
    }
    #leftBar ul {
        background-color: var(--corBase_04);
    }
    .buttons a {
        color: var(--notas_Texto);
        border-color: var(--notas_Texto);
    }
    .buttons a:hover {
        background-color: var(--corPrincipal_01);
        color: var(--corBase_02);
    }
}

@media screen and (min-width: 800px) {
    #btCtrlNotas {
        visibility: collapse;
    }
    .buttons:hover #btCtrlNotas {
        visibility: visible;
    }
    .buttons a {
        color: var(--notas_Texto);
        border-color: var(--notas_Texto);
    }
    .buttons a:hover {
        background-color: var(--corPrincipal_01);
        color: var(--corBase_02);
    }
}